
{# <div class="card-group">            
    <div class="card-deck">

        {% for film in films %}
        <div class="card col-4">
            <img src="https://image.tmdb.org/t/p/original/{{ film.posterPath }}" class="card-img-top" alt="{{ film.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ film.title }}</h5>
                <p class="card-text">{{ film.overview }}</p>
                <p class="card-text"><small class="text-muted">{{ film.releaseDate|date("d/m/Y") }}</small></p>
            </div>
        </div>
        {% else %}

            <div class="list-group-item">No results found!</div>

        {% endfor %}

    </div>
</div> #}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="gender-name breadcrumb-item active" aria-current="page">{{ genderName }}</li>
    </ol>
</nav>

<div class="row row-cols-1 row-cols-md-3 g-4">
{% for film in films %}
    <div class="col">
        <div class="card h-100">
            <img src="https://image.tmdb.org/t/p/original/{{ film.posterPath }}" class="card-img-top" alt="{{ film.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ film.title }}</h5>
                <p class="card-text">{{ film.overview }}</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                Détails du Film
                </button>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ film.releaseDate|date("d/m/Y") }}</small>
            </div>
            {% include "home/pages/blocks/modal.html.twig" %}
        </div>
    </div>
    {% else %}

        <div class="list-group-item">No results found!</div>

    {% endfor %}

    <div class="row block-spacer">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>

    <div id="spinner-div" class="pt-5">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
</div>