{% extends 'home/index.html.twig' %}

{% block title %}Films By Gender{% endblock %}



{% block vertivalMenu %}
    <div class="col-4">
        <div id="menu-block">
            <div class="d-grid gap-2 col-6 mx-auto">
            {% for gender in genders %}
                <button class="btn btn-primary gender-button" value="{{ path('app_ajax_films_by_gender', { 'gender': gender.id })}}">{{ gender.name }}</button>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block listing %}
    
    <div class="col-8">

        <div id="search-bar" class="row">
            <form>
                
                <div class="row">
                    <div class="mb-3 col-8">
                        <label for="exampleInputEmail1" class="form-label">Recherche</label>
                        {# <input name="film_autocomplete_field" {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                                        url: path('ux_entity_autocomplete', { alias: 'film_autocomplete_field' })
                                                        }) 
                                                    }} 
                                class="form-control basicAutoComplete" type="text"> #}
                        {{ form_start(searchForm) }}
                            <div class="my-custom-class-for-errors">
                                {{ form_errors(searchForm) }}
                            </div>

                            <div class="row">
                                <div class="col">
                                    {{ form_row(searchForm.searchField) }}
                                </div>
                            </div>
                        {{ form_end(searchForm) }}
                    </div>
                    <div class="col-2 search-btn">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </div>

            </form>
        </div>

        <div id="films-list">
            {% include "home/pages/blocks/film.html.twig" %}
            <div id="spinner-div" class="pt-5">
                <div class="spinner-border text-primary" role="status"></div>
            </div>
        </div>
    </div>

{% endblock %}
